<ul>
  <li *ngFor="let hostel of users$ | async">{{ hostel | json }}</li>
 <button type="button" (click)="getHostel()">get hostel</button>
</ul>



<form [formGroup]="hostelForm" (ngSubmit)="postHostel()">
  <label>name
    <input type="text" required formControlName="name" name="name">
  </label>
  <label> nombre de chambres
    <input type="number" required formControlName="roomsNumber">
  </label>
  <button type="submit">envoyer</button>
</form>

<section>
  <button type="button" (click)="getHostel()"></button>
</section>

<button type="button" (click)="putHostel()"></button>
